@model eStudentMVC5.Models.RazpisiRokModel
@{
    ViewBag.Title = "Razpiši izpitni rok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4">
        <h1 class="page-header">Razpiši / uredi izpitni rok</h1>

        <div class="panel panel-default">
            <div class="panel-heading red">
                Razpiši ali uredi izpitni rok
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("Index", "RazpisiRok", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    <form role="form">
                        <div class="form-group">
                            <label>Predmet</label>
                            @Html.DropDownListFor(m => m.izpitniRok.idPredmeta, Model.seznamPredmetov, "Izberite predmet", new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            <label>Datum</label>
                            @Html.TextBoxFor(m => m.izpitniRok.datum, new { data_bind = "value: datum", @type = "date", @class = "form-control", @pattern = "\\d{1,2}.\\d{1,2}.\\d{4}", @required = "required" })
                        </div>
                        <div class="form-group">
                            <label>Izpitni rok</label>
                            <input class="form-control" id="izpitniRok" required value="Razpisujete @Model.izpitniRok.stRoka. izpitni rok za izbrani predmet." disabled>
                        </div>
                        <div class="form-group">
                            <label>Prostor</label>
                            @Html.TextBoxFor(m => m.izpitniRok.prostor, new { data_bind = "value: prostor", @class = "form-control", @required = "required" })

                        </div>
                        <div class="form-group">
                            <label>Komentar</label>
                            @Html.TextBoxFor(m => m.izpitniRok.komentar, new { data_bind = "value: komentar", @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Shrani izpitni rok" class="btn btn-danger btn-block">
                        </div>
                    </form>
                }
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-8">
        <h1 class="page-header">Vnos ocen za izbrani izpitni rok</h1>

        <div class="panel panel-default">
            <div class="panel-heading red">
                Seznam študentov na izpitu
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("Index", "RazpisiRok", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    <form>
                        <div class="table-responsive table-bordered">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Vpisna številka</th>
                                        <th>Ime in priimek</th>
                                        <th>Točke</th>
                                        <th>Ocena</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var s in Model.seznamOcenVsiUporabniki)
                                    {
                                        <tr>
                                            <td>@s.uporabnik.vpisnaStevilka</td>
                                            <td>@s.uporabnik.ime @s.uporabnik.priimek</td>
                                            <td>
                                                @Html.TextBoxFor(m => s.sTock, new { data_bind = "value: stTock", @type = "number", @class = "form-control", @placeholder = "točke", @required = "required" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => s.ocena1, new { data_bind = "value: ocena", @type = "number", @class = "form-control", @placeholder = "ocena", @required = "required" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                        <div class="form-group">
                            <input type="submit" value="Shrani ocene" class="btn btn-danger btn-block">
                        </div>
                    </form>
                }
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->