@model eStudentMVC5.Models.RazpisiRokModel
@{
    ViewBag.Title = "Razpiši izpitni rok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("referat"))
{
    <div class="row">
        <div class="col-lg-4">
            <h1 class="page-header">Razpiši / uredi izpitni rok</h1>
            <div class="panel panel-default">
                <div class="panel-heading red">
                    Razpiši ali uredi izpitni rok
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "RazpisiRok", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true)
                        <form role="form">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.izpitniRok.idIzpitniRok, new { data_bind = "value: idIzpitniRok", @type = "hidden" })

                                <label>Predmet</label>
                                @Html.DropDownListFor(m => m.izpitniRok.idPredmeta, Model.seznamPredmetov, "Izberite predmet", new { @class = "form-control", @required = "required" })
                            </div>
                            <div class="form-group">
                                <label>Datum</label>
                                @Html.TextBoxFor(m => m.izpitniRok.datum, new { data_bind = "value: datum", @type = "date", @class = "form-control", @pattern = "\\d{1,2}.\\d{1,2}.\\d{4}", @required = "required" })
                            </div>
                            <div class="form-group">
                                <label>Prostor</label>
                                @Html.TextBoxFor(m => m.izpitniRok.prostor, new { data_bind = "value: prostor", @class = "form-control", @required = "required" })

                            </div>
                            <div class="form-group">
                                <label>Komentar</label>
                                @Html.TextBoxFor(m => m.izpitniRok.komentar, new { data_bind = "value: komentar", @class = "form-control", @required = "required" })
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Shrani izpitni rok" class="btn btn-danger btn-block">
                            </div>
                        </form>
                    }
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-8">
            <h1 class="page-header">Vnos ocen za izbrani izpitni rok</h1>

            <div class="panel panel-default">
                <div class="panel-heading red">
                    Seznam študentov na izpitu
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "RazpisiRok", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true)
                        @Html.TextBoxFor(m => m.izpitniRok.idIzpitniRok, new { data_bind = "value: idIzpitniRok", @type = "hidden" })
                        <form>
                            <div class="table-responsive table-bordered">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Vpisna številka</th>
                                            <th>Ime in priimek</th>
                                            <th>Točke</th>
                                            <th>Ocena</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < Model.seznamOcenVsiUporabniki.Count; i++)
                                        {
                                            <tr>
                                                @Html.TextBoxFor(m => Model.seznamOcenVsiUporabniki[i].idStudenta, new { data_bind = "value: idUporabnik", @type = "hidden" })
                                                @Html.TextBoxFor(m => Model.seznamOcenVsiUporabniki[i].idOcena, new { data_bind = "value: idOcena", @type = "hidden" })
                                                @Html.TextBoxFor(m => Model.seznamOcenVsiUporabniki[i].idIzpitnegaRoka, new { data_bind = "value: idIzpitnegaRoka", @type = "hidden" })
                                                @Html.TextBoxFor(m => Model.seznamOcenVsiUporabniki[i].idPredmeta, new { data_bind = "value: idIzpitnegaRoka", @type = "hidden" })
                                                <td>@Html.DisplayFor(m => Model.seznamOcenVsiUporabniki[i].uporabnik.vpisnaStevilka)</td>
                                                <td>@Html.DisplayFor(m => Model.seznamOcenVsiUporabniki[i].uporabnik.ime) @Html.DisplayFor(m => Model.seznamOcenVsiUporabniki[i].uporabnik.priimek)</td>
                                                <td>@Html.TextBoxFor(m => Model.seznamOcenVsiUporabniki[i].sTock, new { data_bind = "value: sTock", @name = "sTock", @type = "number", @class = "form-control", @placeholder = "točke", @required = "required" })</td>
                                                <td>@Html.TextBoxFor(m => Model.seznamOcenVsiUporabniki[i].ocena1, new { data_bind = "value: ocena", @type = "number", @class = "form-control", @placeholder = "ocena", @required = "required" })</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            <div class="form-group">
                                <input type="submit" value="Shrani ocene" class="btn btn-danger btn-block">
                            </div>
                        </form>
                    }
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
}
else
{
    <div class="row">
        <h3>Nimate pravic za to dejavnost.</h3>
    </div>
}
