@{
    ViewBag.Title = "Razpisani izpitni roki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Razpisani izpitni roki</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading red">
                Razpisani izpitni roki
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive table-bordered">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Predmet</th>
                                <th>Profesor</th>
                                <th>Datum</th>
                                <th>Prostor</th>
                                <th>Komentar</th>
                                <th>Funkcije</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in @ViewBag.izpitniRoki)
                            {
                                <tr>
                                    <td>@s.predmet.imePredmeta</td>
                                    <td>@s.predmet.uporabnik.ime @s.predmet.uporabnik.priimek</td>
                                    <td>@s.datum</td>
                                    <td>@s.prostor</td>
                                    <td>@s.komentar</td>

                                    @if (User.IsInRole("referat") || (User.IsInRole("profesor") && User.Identity.Name.Equals(@s.predmet.uporabnik.email)))
                                    {
                                        <td>
                                            <button type="button" class="btn btn-success btn-sm">
                                                @Html.ActionLink("Urejanje", "Index", "RazpisiRok", new { idRoka = @s.idIzpitniRok }, null)
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm">
                                                @Html.ActionLink("Brisanje", "IzbrisiRok", "RazpisaniRoki", new { idRoka = @s.idIzpitniRok }, null)
                                            </button>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <button type="button" class="btn btn-success btn-sm disabled">
                                                @Html.ActionLink("Urejanje", "Index", "RazpisiRok", new { idRoka = @s.idIzpitniRok }, null)
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm disabled">
                                                @Html.ActionLink("Brisanje", "IzbrisiRok", "RazpisaniRoki", new { idRoka = @s.idIzpitniRok }, null)
                                            </button>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
