@model uporabnik
@{
    ViewBag.Title = "Uporabniški podatki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
}


@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Osebni podatki</h1>

            <div class="btn-group btn-breadcrumb">
                <a href="index.html" class="btn btn-default"><i class="fa fa-home"></i></a>
                <a href="@Url.Action("Index", "SeznamStudentov" )" class="btn btn-default">Seznam študentov</a>
                <a href="#" class="btn btn-default">Osebni podatki</a>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">

            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading red">
                        Osebni podatki
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        @using (Html.BeginForm("Index", "UporabniskiPodatki", FormMethod.Post))
                        {
                            @Html.ValidationSummary(true)
                            <form>
                                @Html.TextBoxFor(m => m.idUporabnik, new { data_bind = "value: idUporabnik", @type = "hidden" })

                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.ime, new { data_bind = "value: ime", @class = "form-control", @required = "required", @pattern = "[A-z]*", @placeholder = "ime" })
                                    @Html.ValidationMessageFor(m => m.ime)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.priimek, new { data_bind = "value: priimek", @class = "form-control", @required = "required", @pattern = "[A-z]*", @placeholder = "priimek" })
                                    @Html.ValidationMessageFor(m => m.priimek)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.mobi, new { data_bind = "value: mobi", @type = "tel", @class = "form-control", @required = "required", @pattern = @"\d{1,3}.\d{1,3}.\d{1,3}", @placeholder = "mobilni telefon (ex. 041 000 000)" })
                                    @Html.ValidationMessageFor(m => m.mobi)
                                </div>
                                <div class="form-group">
                                    <label class="desno20">Spol</label>
                                    <label class="radio-inline">
                                        @Html.RadioButton("spol", "M")moški
                                    </label>
                                    <label class="radio-inline">
                                        @Html.RadioButton("spol", "Z")ženski
                                    </label>
                                </div>
                                @if (User.IsInRole("referat") || User.IsInRole("profesor"))
                                {
                                    <div class="form-group">
                                        <label class="desno20">Vloga</label>
                                        <label class="radio-inline">
                                            @Html.RadioButton("idVloge", "1")študent
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButton("idVloge", "2")profesor
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButton("idVloge", "3")referat
                                        </label>
                                    </div>
                                }
                                <div class="form-group">
                                    <input type="submit" value="Shrani osebne podatke" class="btn btn-danger btn-block" id="shraniOsebne" name="poslji">
                                </div>
                            </form>
                        }
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-4 -->

            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading red">
                        Podatki o šolanju
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        @using (Html.BeginForm("Index", "UporabniskiPodatki", FormMethod.Post))
                        {
                            @Html.ValidationSummary(true)
                            <form>
                                @Html.TextBoxFor(m => m.idUporabnik, new { data_bind = "value: idUporabnik", @type = "hidden" })

                                @if (User.IsInRole("student") || User.IsInRole("profesor"))
                                {
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.vpisnaStevilka, new { data_bind = "value: vpisnaStevilka", @type = "number", @class = "form-control", @placeholder = "vpisna številka", @pattern = "[0-9]+", @disabled = "disabled" })
                                        @Html.ValidationMessageFor(m => m.vpisnaStevilka)
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.letnikStudija, new { data_bind = "value: letnikStudija", @type = "number", @class = "form-control", @placeholder = "vpisan v letnik", @pattern = "[0-9]+", @disabled = "disabled" })
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Shrani podatke o novem šolanju" class="btn btn-danger btn-block" id="shraniSolanjeUser" name="poslji">
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.vpisnaStevilka, new { data_bind = "value: vpisnaStevilka", @type = "number", @class = "form-control", @placeholder = "vpisna številka", @pattern = "[0-9]+" })
                                        @Html.ValidationMessageFor(m => m.vpisnaStevilka)
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.letnikStudija, new { data_bind = "value: letnikStudija", @type = "number", @class = "form-control", @placeholder = "vpisan v letnik", @pattern = "[0-9]+" })
                                        @Html.ValidationMessageFor(m => m.letnikStudija)
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Shrani podatke o novem šolanju" class="btn btn-danger btn-block" id="shraniSolanjeUser" name="poslji">
                                    </div>
                                }
                            </form>
                        }
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-4 -->

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
}
